@media only screen and (min-width: 600px) {
    nav ul {
        flex-direction: row;
    }

    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: block;
    }

    #hamburger-menu {
        display: none;
    
    }
}